@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
}

body {
    background-color: rgb(255, 255, 232);
    text-align: center;
    margin: 0;
    min-height: 100%;
    padding: 0;
    height: 100vh;
}

.back img {
    height: 50px;
    width: 50px;
    padding: 10px;
    display: flex;
    float: left;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    width: 22rem;
    background-color: wheat;
    border-radius: 10px;
    padding: 30px;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.inputs input {
    outline: none;
    height: 30px;
}

#results {
    font-size: 20px;
    text-align: center;
    color: blue;
}

.calcBtn {
    width: 100%;
    padding: 8px 0;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    background: #88abf7;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

#message {
    text-align: center;
}