@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 232);
  font-family: 'Tilt Neon', cursive;
  margin: 0;
  min-height: 100%;
  padding: 0;
  height: 100vh;
}

.back img {
  height: 50px;
  width: 50px;
  padding: 10px;
  display: flex;
  float: left;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.week{
    display: flex;
    gap: 20px;
    height: 120px;
    padding: 20px 40px;
    background: #d0f4ff;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.week li{
    list-style: none;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    border-radius: 20px;
    font-size: 1.20em;
}

.week li.current{
  position: relative;
  background: rgb(125, 190, 247);
  height: 100px;
  width: 100px;
  font-size: 1.65em;
  color: #222;
  border: 3px solid rgb(255, 255, 232);
  cursor: pointer;
  transform: translateY(-70px);
  font-weight: 600;
}

.week li.current::before{
  content: '';
  position: absolute;
  top: 47px;
  left: -33px;
  width: 30px;
  height: 30px;
  background: #d0f4ff;
  border-top-right-radius: 10px;
  box-shadow: 3px -3px rgb(255, 255, 232);
}

.week li.current::after{
  content: '';
  position: absolute;
  top: 47px;
  right: -33px;
  width: 30px;
  height: 30px;
  background: #d0f4ff;
  border-top-left-radius: 10px;
  box-shadow: -3px -3px rgb(255, 255, 232);
}

.week li.current h1{
  position: absolute;
  transform: translateY(73px);
  font-size: 1.6em;
  color: #222;
}

.week li.current h2{
  position: absolute;
  transform: translateY(104px);
  font-size: 0.8em;
  color: #222;  
}

.week li.current h3{
  position: absolute;
  transform: translateY(-65px);
  font-size: 1em;
  color: #222;  
}