@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
}

body {
    background-color: rgb(255, 255, 232);
    margin: 0;
    min-height: 100%;
    padding: 0;
    height: 100vh;
}

.back img {
    height: 50px;
    width: 50px;
    padding: 10px;
    display: flex;
    float: left;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 3em;
    font-weight: 400;
    height: 50px;
}

h2.paused {
    color: red;
}

.buttons {
    display: flex;
    width: 355px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.buttons button {
    border: 1px solid #999;
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 5px;
    cursor: pointer;
}